:root{

  --nav-bg-color: #8d8c8c;
  --body-bg-color: #5d5d5d;
  --footer-bg-color: #414040;
  --font-color:black;
  --border-color:#09c9c9;
  --card-text-bg:rgba(0, 0, 0, 0.42);
  --add-card-border:#63ba09;
}


.dark-mode{
  --nav-bg-color:#4e4e4e;
  --body-bg-color:#333333;
  --footer-bg-color:#232323;
  --font-color:#e0e0e0;
  --border-color:#09c9c9;
  --card-text-bg:rgba(0, 0, 0, 0.42);
  --add-card-border:#63ba09;



}
