@import "styles/colors";
@import "styles/mixins";
.create-container{

  background-color: var(--footer-bg-color);
  @include addBorder;

  label{
    input,textarea,select{
      background-color: var(--nav-bg-color);
      border: none;
      @include addBorder;
    }
  }

}
