@import "styles/colors";

.color-container{
  max-height: 170px;
  width: 100%;
  overflow: hidden;
  background-color: var(--nav-bg-color);

  table{
    width: 100%;
    tr{
      width: 100%;

      th:last-child ,td:last-child{
        text-align:center;
      }
    }

    th,td{
      width: 33%;
      padding: 5px ;
      font-size: 13px;
    }

    th{
      background-color:var(--nav-bg-color) ;

    }

    td{
      background-color:var(--body-bg-color) ;

    }
  }
}


.tabulator{
  max-height: 140px;
border:none;
  color:var(--font-color);
  background-color:var(--body-bg-color);


}

::ng-deep .tabulator-col{
  background-color: var(--nav-bg-color) !important;
  border:none !important;
  width: calc(100% / 3) !important;
}


::ng-deep .tabulator-headers{
  width:100%!important;
}


::ng-deep .tabulator-header{
  border:none !important;
}

::ng-deep .tabulator-row{
  background-color: var(--footer-bg-color) !important;
  border:none !important;

  &:hover{
    background-color: var(--footer-bg-color);

  }
}

::ng-deep .tabulator-cell{
  border:none !important;
}
::-webkit-scrollbar{
  display: none;
}
