<div class="color-container mt-1" #table>
  <table>
    <thead>
    <tr class="table-header">
      <th>Color</th>
      <th>Answers</th>
      <th>Operations</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let row of data"  [ngStyle]="{borderLeftStyle:'solid',borderLeftWidth:'1px',borderColor:row.color}">
      <td [ngStyle]="{color:row.color}">{{row.color}}</td>
      <td>{{row.answer}}</td>
      <td>
        <div class="d-flex gap-2 justify-content-center">
          <i class="bi bi-trash3" [ngStyle]="{color:'red'}"></i>
          <i class="bi bi-pencil" [ngStyle]="{color:'yellow'}"></i>
        </div>
      </td>
    </tr>
    </tbody>




  </table>
</div>



