<div>
  <h6 class="mb-2">{{data.title}}</h6>
  <div class="chart d-flex justify-content-center">
<!--    <canvas baseChart-->
<!--            [datasets]="chartDatasets"-->
<!--            [labels]="chartLabels"-->
<!--            [options]="barChartOptions"-->
<!--            [plugins]="barChartPlugins"-->
<!--            [legend]="barChartLegend"-->
<!--            [type]="'bar'">-->
<!--    </canvas>-->


    <ng-container *ngIf="selectedChart=='pie'">
      <canvas baseChart
              [type]="'pie'"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">

      </canvas>
    </ng-container>

    <ng-container *ngIf="selectedChart=='bar'">
      <canvas baseChart
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [type]="'bar'"
              height="220"
              [ngStyle]="{width:'100%'}"
      >
      </canvas>
    </ng-container>






  </div>
</div>


