@import 'bootstrap/scss/bootstrap';
@import './styles/colors';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/tabulator-tables/dist/css/tabulator.css";
@import url(https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css);

body * {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--font-color);

}


::-webkit-scrollbar {
   width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--footer-bg-color);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--nav-bg-color);


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

